@inherits LayoutComponentBase

<Layout>
    <Header Class="header">
        
    </Header>
    <Layout>
        <Sider Collapsible Theme="SiderTheme.Light" Width="250">
            <Menu Theme="MenuTheme.Light" DefaultSelectedKeys=@(new[] { "1" }) Mode="MenuMode.Inline">
                <MenuItem Key="1" RouterLink="/">
                    <Icon Type="@IconType.Outline.BarChart" />
                    <span>Dashboard</span>
                </MenuItem>
                <MenuItem Key="2" RouterLink="/words">
                    <Icon Type="@IconType.Outline.Appstore" />
                    <span>Từ vựng</span>
                </MenuItem>
                <MenuItem Key="3" RouterLink="/speech">
                    <Icon Type="@IconType.Outline.Sound" />
                    <span>Speech Test</span>
                </MenuItem>
                <MenuItem Key="4" RouterLink="/practices">
                    <Icon Type="@IconType.Outline.Bulb" />
                    <span>Luyện tập</span>
                </MenuItem>
                <MenuItem Key="5" RouterLink="/chat">
                    <Icon Type="@IconType.Outline.Bulb" />
                    <span>Chat với AI</span>
                </MenuItem>
                <MenuItem Key="6" RouterLink="/tag-dragdrop">
                    <Icon Type="@IconType.Outline.Star" />
                    <span>Drag - Drop</span>
                </MenuItem>
            </Menu>
        </Sider>
        <Layout>
            <Content Style="padding: 16px; margin: 0; min-height: 100vh;background:#F9F8F8">
                @Body
            </Content>
        </Layout>
    </Layout>
</Layout>
@* <div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div> *@
